<% provide(:title, "About") %>
<%= render 'layouts/header' %>
<html>
<body>
	<div class="header">
		<p class="header">About</p>
		<div class="divider"></div>				
			<div class="myimage">
				<img src="/images/me.jpg" width="250px"/>
			</div>		
		<div class="header-text">
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium turpis ex, vel tincidunt magna interdum ut. Phasellus vitae sem ultricies, ullamcorper nulla ac, cursus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer lectus est, malesuada et rhoncus et, interdum eget mi. Morbi ac ipsum sem. Nunc semper lobortis enim vitae euismod. Suspendisse varius mi ac dapibus placerat. Fusce quam lacus, sodales eu convallis et, cursus vitae ipsum. Nulla suscipit, mi quis egestas ultricies, magna quam iaculis nibh, consequat iaculis urna turpis et elit. Vivamus mattis volutpat dolor. Praesent vel ipsum iaculis, pretium dolor at, dictum lectus. Ut sed ipsum risus. Pellentesque dignissim, urna at ultrices malesuada, mauris mauris laoreet felis, sed sagittis ante velit vitae urna. Aliquam tristique est eget ipsum facilisis, non cursus sem efficitur. In hac habitasse platea dictumst.
			Ut rhoncus suscipit sapien non viverra. Nullam imperdiet diam a suscipit mollis. Quisque a maximus lectus. Aliquam fermentum quis ipsum ut ornare. Cras quis tempus eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu interdum augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sed vehicula augue. </span>				
			</div>	
			<div class="donwload-description">
				<p>Donwload resume</p>
				<a href="/images/Ewerton Weishaupt Ruiz CV.pdf" target="_blank" class="donwload-button">Donwload in PDF</a>
			</div>
			
			
		</div>

	</body>
	</html>