<% provide(:title, "Contact") %>
<%= render 'layouts/header' %>
<html>
<body>
	<div class="header">
		<p class="header">Contact</p>
		<div class="divider"></div>
		<div class="header-text">
			<span><b>Email:</b> ewertonribeiroruiz@gmail.com</span><br>
			<span><b>Phone:</b> +45 28839234</span>		
			<div class="linkedin">
				<a href="https://www.linkedin.com/in/ewerton-ribeiro-weishaupt-ruiz-9323755/" target="blank"><img src="/images/linkedin.png" width="35px"></a>
			</div>
			</div>

			<p style="margin-top: 60px;">Send an email</p>		
			<div class="form-container">
			  <form action="https://formspree.io/shakamaiden@gmail.com" method="POST">
			    <label for="fname" style="color: white; font-size: 18px;"><b> Name</b></label>
			    <input type="text" id="fname" name="firstname" placeholder="Your name..">
			    <label for="subject" style="color: white; font-size: 18px;"><b>Message</b></label>
			    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
			    <input type="submit" value="Submit">
			  </form>
					</div>
	</div>
</body>
</html>

