<% provide(:title, "Home") %>
<%= render 'layouts/header' %>
<html>
<body>
	<div class="header">
		<p class="header">Recent Works</p>
		<div class="divider"></div>
		<!-- Beging Images -->		
		<div class="container">				
			<div class="img">				
				<img src="/images/nigthmare.jpeg" title="Project 1" class="image"/></a>
				<div class="overlay">	
				<a href="portfolio" class="overlay"></a>				
					<div class="text">
						<b>Hello World</b>
						<br>Whatever this project is description
					</div>
				</div>					
			</div>				
		</div>			
		<div class="container">	
			<div class="img">
				<img src="/images/football.jpeg" title="Project 2" class="image"/>
				<div class="overlay">
					<a href="portfolio" class="overlay"></a>
					<div class="text">
						<b>Hello World</b>
						<br>Whatever this project is description</div>
				</div>					
			</div>				
		</div>
		<div class="container">	
			<div class="img">
				<img src="/images/wii.jpeg" title="Project 2" class="image"/>
				<div class="overlay">
					<a href="portfolio" class="overlay"></a>
					<div class="text">						
						<b>Hello World</b>
						<br>Whatever this project is description</div>
				</div>					
			</div>
		</div>
			<div class="container">	
				<div class="img">
					<img src="/images/humvee.png" title="Project 2" class="image"/>
					<div class="overlay">
						<a href="portfolio" class="overlay"></a>
						<div class="text">
							<b>Hello World</b>
							<br>Whatever this project is description
						</div>
					</div>					
				</div>
			</div>
		</div>
		</div>
			<div class="container">	
				<div class="img">
					<img src="/images/violin.jpeg" title="Project 2" class="image"/>
					<div class="overlay">
						<a href="portfolio" class="overlay"></a>
						<div class="text">
							<b>Hello World</b>
							<br>Whatever this project is description
						</div>
					</div>					
				</div>
			</div>				
			<div class="container">	
				<div class="img">
					<img src="/images/shield.jpeg" title="Project 2" class="image"/>
					<div class="overlay">
						<a href="portfolio" class="overlay"></a>
						<div class="text">
							<b>Hello World</b>
							<br>Whatever this project is description
						</div>
					</div>					
				</div>
			</div>		
	</div>
	</body>
	</html>
