<% provide(:title, "Test Images") %>
<%= render 'layouts/header' %>
<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Quad Image Gallery</title>
</head>
<body>
	<div id="quad">
		<figure>
			<img src="/images/nigthmare.jpeg" alt="rose-red-wine">
			<figcaption>Rose Red Wine</figcaption>
		</figure>
		<figure>
			<img src="/images/football.jpeg" alt>
			<figcaption>Green Glass Bottle</figcaption>
		</figure>
		<figure>
			<img src="/images/humvee.png" alt>
			<figcaption>Guinness Barrels, Dublin</figcaption>
		</figure>
		<figure>
			<img src="/images/shield.jpeg" alt>
			<figcaption>Crystal Skull Vodka</figcaption>
		</figure>
		<figure>
			<img src="/images/violin.jpeg" alt>
			<figcaption>Crystal Skull Vodka</figcaption>
		</figure>
		<figure>
			<img src="/images/wii.jpeg"  alt>
			<figcaption>Guinness Barrels, Dublin</figcaption>
		</figure>
	</div>
</body>
</html>
