<%= form_for(@post) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label :title %>
	<%= f.text_field :title, placeholder: "Type the title of the post" %><br>
	<%= f.label :body %>
	<%= f.text_area :body, size: "60x12", placeholder: "Type the content of the post" %><br>
	<%= f.submit %>
<% end %>

//Stoped here in the form