@import "bootstrap-sprockets";
@import "bootstrap";

/* COLORS

blue: #4717f6;
pink: #A239CA;
white: #e7dfdd;
dark: #0e0b16;
/*

/* FONTS */ 
@font-face{
	font-family: "Aller";
	src: url('/assets/fonts/Aller_Rg');
}

/* HEADER */
/* Add a black background color to the top navigation */
.topnav {	
	overflow: hidden;
}

/* Dropddown on Menu */ 
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 24px;    
    border: none;
    outline: none;
    color: #e7dfdd;
    padding: 14px 16px;
    margin-right: 2px; 
    font-family: "Aller", sans-serif; 
    text-transform: capitalize; 
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  border-bottom: 1px solid #e7dfdd;
  padding-bottom: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(50,50,50,0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Aller";
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0e0b16;
}

.show {
    display: block;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav-left a {
	float: right;
	display: block;
	color: #e7dfdd;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;     
	/*background-color: #4717F6;*/
	margin-right: 2px; 
	font-family: "Aller", sans-serif;	
	text-transform: capitalize;  
}

/* Change the color of links on hover */
.topnav a:hover {
	/*background-color: #A239CA;*/
	border-bottom: 1px solid #e7dfdd;
	padding-bottom: 5px;	
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

/* IMAGES */

body {
	font-family: Arial, Verdana, sans-serif;
	/*background-image: url("/images/carbon.jpg"); */
	background-color: #0e0b16;
}

div.header{
	background-color: rgba(50,50,50,0.4);
	width: auto;			
}
.header p{
	color: white;
	font-size: 24px; 
	padding: 5px;
	margin: 5px;
	font-weight: bold;	
	border-bottom: 2px solid #A239CA; 
	margin-bottom:10px;	
}
div.header-text {
	color: #e7dfdd;
	font-family: "Aller", sans-serif;
	font-size: 14pt;	
	margin-left: 10px;
	padding: 2px;	
}
.container {
  position: relative;
  width: 33%;  
  float: left;
  white-space: nowrap;  
  background-color: white;
  margin: 2px;
}

.image {  
  width: 100%;
  height: auto;
  float: left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

/* FOOTER */

.footer {
	background-color: #333;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;  
	text-align: center;
	color: #f2f2f2;  
}

/* MY Image */
div.myimage{	
	float:right;
	border-width: 2px;
    border-style: solid;
    border-color: #4717f6;
    margin-right: 10px;    
}

/* Donwload Button */
div.donwload-description p{
	font-size: 14px;
	border-bottom: none; 
	margin-bottom:none;	
	margin: 20px 10px 0px 10px;
	font-weight: none;
}
.donwload-button {
    background-color: #4717f6;
    border: none;
    color: #e7dfdd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
    margin-left: 10px;
    margin-bottom: 10px;   
}

.donwload-button:hover {
	background-color: #A239CA;
}

/* LINKEDIN*/
div.linkedin{
	margin: 10px 0px 0px 3px;

}

/* FORM */ 
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;    
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
}

input[type=submit] {
    background-color: #4717f6;
    color: white;
    padding: 12px 20px;
    border: none;    
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A239CA;
}

.form-container {
    padding: 10px;
}

/* MODAL IMAGES START */

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33%;
  margin: 2px;
  padding: 2px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #A239CA;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: #0e0b16;
  padding: 2px 16px;
  color: white;
  font-size: 18px;
}

.demo {
  opacity: 1;
  
}

.active,
.demo:hover {
  opacity: 1; 
  
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.09)
}

/* OVERLAY NEW */
.column .overlay-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  
}

.column:hover .overlay-pic {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* NEW TEMPLATE FOR IMAGES */
/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

div#quad { 
  background-color: #000; 
  font-size: 0; width: 100%; 
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}
div#quad figure { 
  margin: 0; width: 33.3%; 
  height: auto; transition: 1s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}
div#quad figure:hover { cursor: pointer; z-index: 4; }
div#quad figure img { width: 100%; height: auto; }
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top center; }
div#quad figure:nth-child(3) { transform-origin: top right; }
div#quad figure:nth-child(4) { transform-origin: bottom left; }
div#quad figure:nth-child(5) { transform-origin: bottom center; }
div#quad figure:nth-child(6) { transform-origin: bottom right; }
div#quad figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
  transition: 1s 1s opacity; 
}
.expanded { transform: scale(2); z-index: 5;  }
div#quad figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }
/* END OF NEW TEMPLATE FOR IMAGES */