 <div class="topnav">
 	<a href="index" >Home</a>
 	<div class="topnav-left">	 	 	
 		<a href="/pages/contact">contact</a>	 	
 		<a href="/pages/about">about</a>
 		<a href="#">Blog</a>	
 		<div class="dropdown">
 			<button class="dropbtn" onclick="myFunction()">Portfolio
 				<i class="fa fa-caret-down"></i>
 			</button>
 			<div class="dropdown-content" id="myDropdown">
 				<a href="/pages/portfolioVideo">Videos</a>
 				<a href="/pages/portfolioGames">Games</a>
 				<a href="/pages/portfolio3d">3D</a>
 			</div>
 		</div>
 	</div>
 </div> 