<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Ewerton Weishaupt Ruiz</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all'%>
	<%= javascript_include_tag 'application'%>
</head>

<body>
	<%= yield %>
</body>
</html>
